//====================================================================================================
.wrapper {
}
.page {
      display: flex;
      justify-content: center;
		// .page__container
		&__container {    
		}
      &__element {
         margin: 0 auto;
         height: 100vh; 
      }
}
//====================================================================================================
